<div class="lt-container">
    <!-- mousedown propagation is stoppped because otherwise youtube somehow
         damages <input> element -->
    <input v-model="number" class="lt-number-input" v-on:mousedown.stop>
    <input v-model="subject" class="lt-subject-input" v-on:mousedown.stop>
    <textarea v-model="topic" class="lt-topic-input" v-on:mousedown.stop></textarea>
    <label v-for="i in [0, 1, 2]" class="lt-num"
         v-bind:style="{ 'grid-row': (i + 1) }"> 
            <input type="radio" v-model="fontSize"
                   v-bind:value="[70, 90, 110][i]">
            {{ [70, 90, 110][i] }}
    </label>
    <button v-on:click="parse"> Parse again </button> <!-- TODO: refactor -->
    <button v-on:click="upload" v-bind:disabled="template === null"> upload </button> <!-- TODO: refactor -->
    <div class="lt-template-list">
        <img v-for="{thumb, name} in sortedAvaliableTemplates"
             v-bind:src="thumb"
             v-bind:class="{ 'lt-selected': template === name }"
             v-on:click="template = (template !== name ? name : null)">
    </div>
    <!--img v-bind:src="thumbnail || 'https://placehold.it/550x550'" class="lt-thumbnail"-->
    <div class="lt-thumb-container">
        <img v-bind:src="thumbnailURL" class="lt-thumbnail" v-on:load="thumbnailLoaded"
            onerror="setTimeout(() => this.src = this.src, 300)">
            <!-- ^^^^^^^^^^ dirty fix becase i still can't make python connection
                            queue size greater than 6 -->
        <div v-show="loading" class="spinner lt-spinner"></div>
    </div>
</div>
